.sidenav{
    background-color: rgb(138, 43, 226);
}

.shape{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid white;
}

.linksHover:hover{
    color: blueviolet;
    background-color: rgba(137, 43, 226, 0.155);
}

.activeLink{
    color: blueviolet;
    font-weight: 600;
    background-color: rgba(137, 43, 226, 0.155);
}